
.sort{
    position: relative;
    @media (max-width:1300px) {
        margin-bottom: 1rem;
      }
      @media (max-width:1000px) {
        text-align: center;
        width: 200px;
    }
    @media (max-width:600px){
        font-size: 14px;
        width: 120px;
        margin-left: 1rem;
    }
    @media (max-width:380px){
        width: 100px;
    }
}

.sort-label{

    p{
        font-weight: 700;
    }
    span{
        color:var(--active-element);
        cursor: pointer;
        transition: all 0.15 ease-in;
        border-bottom: 1px dotted var(--active-element);

        &:hover{
            color:var(--active-element-hover);
        }
        &:active{
            color:var(--active-element-active);
        }
    }
}

.sort-popup{
    position:absolute;
    right: 0;
    margin-top: 1rem;
    padding:0.5rem;
    box-shadow: 0px 0px 10px var(--ui-gray);
    background-color: white;
    border-radius: 1rem;
}

.popup-element{
    cursor: pointer;
    padding: 0 0.5rem;
    text-align: center;
    transition: all 0.15s ease-in;

    &:hover{
        background-color: var(--active-element);
    }
    &:active{
        background-color: var(--active-element-active);
    }

    &-active{
        cursor: pointer;
        padding: 0 0.5rem;
        text-align: center;
        transition: all 0.15s ease-in;
        color: var(--active-element);

    }
}


