:root{
    --active-element:#6BA6DB;
    --main-color:#FAF1D9;
    --ui-gray:rgb(238, 237, 237);
    // #8F6D38 - коричневый
    // #FFD796 - бежевый
    // #DBB06B - бежево-коричневый
    // #295F8F - синий
    // #6BA6DB - голубой
}


* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.main{
    width: 100%;
    background-color: var(--main-color);
    padding: 5vh 10vw;
    min-width:600px;
}

.content{
    width: 80vw;
    margin-top: 7vh;
    padding: 2rem;
    background-color: white;
}

.content-setting{
    display:flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.content-guitars{
    display:flex;
    gap: 1rem;
    flex-wrap: wrap;
}


