:root{
    --active-element:#6BA6DB;
    --active-element-hover:#6195c4;
    --active-element-active:#80b9eb;
    --main-color:#FAF1D9;
    --ui-gray:rgb(238, 237, 237);
    --ui-gray-hover:rgb(223, 223, 223);
    --ui-gray-active:rgb(241, 241, 241);
    // #8F6D38 - коричневый
    // #FFD796 - бежевый
    // #DBB06B - бежево-коричневый
    // #295F8F - синий
    // #6BA6DB - голубой
}


* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

body{
  overflow-x: hidden;
  background-color: var(--main-color);
}

.main{
    width: 100%;
    background-color: var(--main-color);
    padding: 5vh 10vw;
    overflow-x: hidden;
}

.content{
    width: 80vw;
    margin-top: 7vh;
    padding: 2rem;
    background-color: white;
    @media (max-width:900px) {
      margin-top: 10vh;
    }
}

.content-setting{
    display:flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    @media (max-width:1300px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    @media (max-width:1100px) {
      display:flex;
      flex-direction: row;
      justify-content: space-between;
    }

    @media (max-width:600px) {
      margin-top: 2rem;
    }
}

.content-guitars{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(1, 1fr);

      @media (max-width:1800px) {
        grid-template-columns: repeat(3,1fr);
      }
      @media (max-width:1500px) {
        grid-template-columns: repeat(2,1fr);
      }
      @media (max-width:900px) {
        grid-template-columns: repeat(1,1fr);
      }
}


a{
  text-decoration: none;
  color: black;
  &:hover{
    text-decoration: none;
    color: black;  
  }
  &:active{
    text-decoration: none;
    color: black;  
  }
}

@media (max-width:600px){

  .main{
    display:inline-block;
  }
  .content{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}